[user]
	name = Nick Groesz
	email = nick.groesz@gmail.com
[core]
	editor = vim
	excludesfile = /Users/ngroesz/.gitignore_global
[color]
	ui = auto
[push]
	default = current
[pull]
	rebase = false
[alias]
	br = branch -lvv
	brr = branch -lrvv
