[user]
	name = Nick Groesz
	email = x-ngroesz@cylance.com
[core]
	editor = vim
	excludesfile = /Users/x-ngroesz/.gitignore_global
[color]
	ui = auto
[push]
	default = current
[alias]
	br = branch -lvv
	brr = branch -lrvv
